<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Posts</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <main>
    <h1>Notes by <a href="https://koljasam.com/">Kolja Sam</a>:</h1>
    <ul class="post-list">
      {% for post in posts %}
      <li>
        <a style="font-size:1.2em" href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
